<html>
<head>
  <title> PICTURES </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Linea para adaptar pantalla para celular-->
  <link rel="stylesheet" type="text/css" href="main.css" media="all" />

  <link rel="stylesheet" type="text/css" href="tina2.css" media="all" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://kit.fontawesome.com/b2959a4cdb.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="text-center">
      <h1>PaxaPos - TINA</h1>
      <div class="subtitulo">TRAINING</div>
    </div>
  </header>



<div class= "recuadro">
  <div><h3>Pictures</h3></div>
  <div><p>View and select the pictures you want to save, then select the product and the score.</p></div>

<div class="contenedor">
  <ul>

    <li>
      <div class="cuadrado">
        <input type="checkbox" id="cb1"/>
        <label for="cb1"><img src="img1.jpg" id="img1"></label>
      </div>
    </li>
    
    <li>
      <div class="cuadrado">
        <input type="checkbox" id="cb2" />
        <label for="cb2"><img src="img2.jpg" id="img2"></label>
      </div>
    </li>


    <li>
      <div class="cuadrado">
        <input type="checkbox" id="cb3" />
        <label for="cb3"><img src="img3.jpg" id="img3"></label>
      </div>
    </li>

    <li>
      <div class="cuadrado">
        <input type="checkbox" id="cb4" />
        <label for="cb4"><img src="img4.jpg" id="img4"></label>
      </div>
    </li>  


    <li>
      <div class="cuadrado">
        <input type="checkbox" id="cb5" />
        <label for="cb5"><img src="img5.jpg" id="img5"></label>
      </div>
    </li>
    
  <br>
    
    <li>
      <div class="cuadrado">
        <input type="checkbox" id="cb6" />
        <label for="cb6"><img src="img6.jpg" id="img6"></label>
      </div>
    </li>
    
    <li>
      <div class="cuadrado">
        <input type="checkbox" id="cb7" />
        <label for="cb7"><img src="imagen7.jpg" id="img7"></label>
      </div>
    </li>

    <li>
      <div class="cuadrado">
        <input type="checkbox" id="cb8" />
        <label for="cb8"><img src="img8.jpg" id="img8"></label>
      </div>
    </li>

    <li>
      <div class="cuadrado">
        <input type="checkbox" id="cb9" />
        <label for="cb9"><img src="img9.jpg" id="img9"></label>
      </div>
    </li>

    <li>
      <div class="cuadrado">
        <input type="checkbox" id="cb10" />
        <label for="cb10"><img src="./img10.jpg" id="img10"></label>
      </div>
    </li>
  </ul>
</div>


<div>
  <center><div class="product">Product</div></center>
  <select class="select">
    <option>Ñoquis</option>
    <option>Fideos</option>
    <option>Arroz</option>
  </select>
</div>

<br><br><br><br><br>

<div>
  <div>
    <center><div class="product">Score</div></center> 
    <center><pre class="numbers">0 1 2 3 4 5 6 7 8 9</pre>
  <br>
  <input class="slider" type="range" name="score" id="score" step="10" min="10" value="">
  <output class="score-output" for="score"></output></center>
  </div>
</div>


<div class="boton">
  <a href="#">
    <div class="imagen">
<br><br><br>
      <img src="./vector.png"></img>
<br>
      <font color="white" style="position:absolute; left: 100px; top: 140px">Send model</font>
    </div>
  </a>
</div>


</body>
</html>