<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head> <!--Linea para adaptar pantalla para celular-->
<link rel="stylesheet" type="text/css" href="tina.css" media="all" />
<div class="centrar">
<center><font color="#7B52A3"><h2>PaxaPos-TINA</h2></font>
<div class="titulo"><center><font color="white"><h1>TRAINING</h1></font></center></div>
<br>
<br>
<br>
<br>
<br>
<p><h3><font color="white">First Steps</h3></font>
<p><font color="gray">In the following fields you must insert the number of photos you want to take and the number of seconds in which it will be done</font>
<br>
<br>
<div class="leftcolumn"><font color="white">Amount_Pictures </font>
<br>
<input class="contenedor" style="color:white" type="img" id="fname" name="fname" value="">
</div>
<div class="rightcolumn" style= "position: absolute;left:250;"><font color="white">Seconds</font>
<br>
<input class="contenedor" style="color:white"  type="img" id="fname" name="fname" value="">
</div>
<br>
<br>
<br>
<br>
<div class="boton">
			<right><button style="border-radius: 100%"> 
			<a href="tina2.html">
			<div class="imagen">
			<img src="camara.png" style="border-radius: 100%" 
			     height= 150px width= 150px>
			</div>	 
			</a>
			</button>	
			</right>

</div>
</div>
</center>
</html>