body {
background: linear-gradient(180deg, #353A40 0%, #16171B 100%);
border-radius: 60px;
}

.rectangulo{
position: absolute;
width: 1024px;
height: 155px;
left: calc(50% - 1024px/2);
top: 387px;
background: #242424;
box-shadow: 20px 20px 20px #1A1818, inset 5px 5px 20px #1A1818;
border-radius: 10px;
}

.cuadrado{
background: #242424;
box-shadow: 20px 20px 20px #1A1818, inset 5px 5px 20px #1A1818;
border-radius: 10px;
}

.box1{
box-shadow: 20px 20px 50px #00d2c6, 
            -30px -30px 60px #00ffff;
border-radius: 25px;
background: linear-gradient(145deg, #3d3d3d, #494949);
box-shadow:  47px 47px 33px #3a3a3a,
             -47px -47px 33px #4e4e4e;
}

.leftcolumn {   
  float: left;
  width: 20%;
  padding-left: px;
  background: (180deg, #353A40 0%, #16171B 100%);
  border-radius: 60px;
  border-radius: 10px;
}

.rightcolumn {
  float: left;
  width: 20%;
  padding-left: 0px;
  background: (180deg, #353A40 0%, #16171B 100%);
  border-radius: 60px;
  border-radius: 10px;
}

.contenedor{
  max-width: 500px;
  background: linear-gradient(180deg, #353A40 0%, #16171B 100%);
  border-radius: 60px;
  border-radius: 10px;
}

.boton-container{
  width: 169px;
  height: 162px;
  position: relative;
  margin: 0;
  padding: 0;
}

.boton-container h1{
  font-size: large;
  color: white;
  margin-top: 20px;
}

.boton-container .svg{
  width: 38px;
  position: absolute;
  top: 43px;
  left: 43px;
  margin: auto;
  /* transform: translateY(-275%); */
  /* margin-left: -18px; */
}

.boton{
  position: relative;
  width: 128px;
  height: 128px;
  margin: auto;
}

.boton-bot{
  position: absolute;
  width: 124px;
  height: 124px;
  left: 0px;
  top: 0px;
  background: linear-gradient(135deg, #411E63 22.75%, #9B49EC 84.81%);
  filter: blur(0.5px);
  border-radius: 100%;
}

.boton-sombra{
  position: absolute;
  width: 132px;
  height: 132px;
  left: -4px;
  top: -4px;
  background: linear-gradient(135deg, #9569BF 14.75%, #361953 84.81%);
  box-shadow: 10px 15px 40px #000000, -10px -15px 40px #2F393D;
  border-radius: 100%;
}
